@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}

.gradient {
  background-image: linear-gradient(
    120deg,
    hsl(0deg 0% 0%) 0%,
    hsl(276deg 41% 6%) 8%,
    hsl(273deg 19% 9%) 16%,
    hsl(270deg 14% 11%) 24%,
    hsl(271deg 18% 12%) 33%,
    hsl(272deg 21% 14%) 41%,
    hsl(273deg 24% 15%) 49%,
    hsl(272deg 21% 14%) 57%,
    hsl(271deg 18% 12%) 66%,
    hsl(270deg 14% 11%) 74%,
    hsl(273deg 19% 9%) 83%,
    hsl(276deg 41% 6%) 91%,
    hsl(0deg 0% 0%) 100%
  );
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
}

header h1{
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    text-align: center;
    margin-top: 10rem;
}

.codetheworld-io {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    margin: 0 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: transparent;
    color: var(--color);
    font-size: 2.5rem;
    transition: 0.5s;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

a:hover {
    background: var(--color);
    color: #050801;
    box-shadow: 0 0 5px var(--color),
                0 0 25px var(--color),
                0 0 50px var(--color),
                0 0 200px var(--color);
}
